img{
    width: 400px;
    height: 400px;
}
.icon{
    display: flex;
    justify-content: space-evenly;
}
.a{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: red;
    height: 800px;
}
.user,.id{
  color: black;
  text-align: center;
  text-decoration: solid;
}