#showmovies{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
   background-image: linear-gradient(to right,black,rgb(98, 0, 0));
}
#showmovies img{
    width: 400px;
    height: 600px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#showmovies img:hover{
    width: 400px;
    height: 400px;
}